body.subpage.product{
  .container{
    .content{
      display: block;
      position: relative;
      max-width: 1840px;
      margin: 0 auto;
      .young_brands{
        padding: 120px 0 0;
        .h2_tit{
          position: relative;
          margin-bottom: 70px;
          font-family: 'Maison';
          font-size: 30px;
          font-weight: 800;
          line-height: 30px;
          text-align: center;
          &:after{
            content: '';
            display: block;
            position: absolute;
            bottom: -60px;
            left: 50%;
            width: 1px;
            height: 30px;
            background-color: #000;
          }
        }
        .brand_wrap{
          display: block;
          width: 1180px;
          height: 400px;
          margin: -25px auto 0 auto;
          padding: 80px 0 0 0;
          background-color: #f1f1f1;
          .bx-wrapper{
            max-width: 1720px;
            display: block;
            position: relative;
            margin: 0 auto;
            .bx-viewport{
              width: 100%;
              overflow: hidden;
              position: relative;
              height: 270px;
              .brand_slider{
                margin-left: -270px;
                // width: 8215%;
                // position: relative;
                // transition-timing-function: ease-out;
                // transition-duration: 0.3s;
                // transform: translate3d(-2900px, 0px, 0px);
                li{
                  overflow: hidden;
                  padding: 0;
                  float: left;
                  list-style: none;
                  position: relative;
                  width: 270px;
                  margin-right: 20px;
                  .dim{
                    display: none;
                    width: 270px;
                    height: 270px;
                  }
                  img{
                    display: block;
                    width: 270px;
                    height: 270px;
                    background: #fff;
                  }
                }
              }
            }
          }
        }
      }
      .elcubeMain_cate{
        padding-top: 100px;
        .top_box{
          width: 100%;
          margin: 0 auto;
          padding-bottom: 60px;
          .h2_tit{
            position: relative;
            font-family: 'Maison';
            font-size: 30px;
            font-weight: 800;
            line-height: 30px;
            text-align: center;
          }
        }
        .cate_list{
          position: relative;
          display: block;
          width: 1180px;
          height: 400px;
          padding-top: 10px;
          margin: 0 auto;
          ul{
            position: relative;
            display: flex;
            justify-content: space-between;
            li{
              position: relative;
              width: 23%;
              max-width: 420px;
              height: 289px;
              .thumb{
                width: 100%;
                display: block;
                img{
                  width: 100%;
                  height: auto;
                }
              }
              .txt_box{
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding-top: 25px;
                span{
                  font-size: 20px;
                  line-height: 26px;
                  font-weight: 600;
                }
                a{
                  font-size: 13px;
                  line-height: 13px;
                  color: #646464;
                  font-weight: 500;
                  padding: 6px 28px;
                  border: 1px solid #646464;
                }
              }
              &::after{
                position: absolute;
                content: '';
                top: 0;
                margin-left: 105.4%;
                margin-top: 5%;
                width: 1px;
                height: 56%;
                background: #e5e5e5;
              }
            }
          }
        }
      }
    }
  }
}
